.landing-container {
    background-color: #f57c1f;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    transition: opacity 0.6s ease;
    opacity: 1;
}

.landing-container.fade-out {
    opacity: 0;
}

.logo-wrapper {
    margin-top: 190px; 
    text-align: center;
}

.landing-logo {
    width: 280px;
    height: auto;
    animation: popUp 1s ease forwards; /* ✅ 새 애니메이션 적용 */
}

.landing-title {
    font-size: 28px;
    font-weight: bold;
    color: white;
    animation: fadeUp 1s ease forwards;
}

.title-wrapper {
    display: flex;
    align-items: center; 
    justify-content: center; 
    text-align: center;
    margin-top: 74px;
}

.landing-title {
    font-size: 35px;
    font-weight: bold;
    color: white;
    animation: fadeUp 1s ease forwards;
}

@keyframes fadeUp {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes popUp {
    0% {
        transform: scale(0.6);
        opacity: 0;
    }
    60% {
        transform: scale(1.1);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}
