.success-findid-body {
    text-align: center;
    margin-top: 30px;
    font-family: sans-serif;
    opacity: 1;
    transition: opacity 0.4s ease; 
}

.success-findid-body.fade-out {
    opacity: 0;
}

.success-findid-body .title {
    font-size: 25px;
    font-weight: bold;
}

.success-findid-body .subtitle {
    font-size: 16px;
    color: #010101;
    line-height: 1.5;
}

.success-findid-body .divider {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #eee;
}

.success-findid-body .user-id {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 24px;
    margin-top: 24px;
}

.success-findid-body .button-group {
    margin-top: 50px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 12px;
    width: 100%;
}

.success-findid-body .btn {
    flex-shrink: 0;;
    width: 40%; 
    padding: 12px 0;
    font-size: 15px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    transition: background-color 0.2s ease, transform 0.1s ease;
    box-sizing: border-box;
}

.success-findid-body .login-btn {
    background-color: #f4a340;
    color: white;
}

.success-findid-body .findpw-btn {
    background-color: white;
    color: #f4a340;
    border: 1px solid #f4a340;
}

.success-findid-body .btn:hover {
    transform: scale(0.98);
}

